<div class="container p-2">
  <h2>Party through time and history - rent our monuments for unforgettable events!</h2>
  <div class="row mt-3 mb-3">
    <div class="col-8">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @monuments.each do |monument| %>
          <div class="col">
            <div class="card h-100 shadow-sm" type="button">
              <%= cl_image_tag monument.photo.key, crop: :fill, class:"card-img-top" %>
              <div class="card-body">
                <h5 class="card-title"><%= monument.name %></h5>
                <p class="card-text"><small class="text-muted"><i><%= monument.city %>, <%= monument.country %></i></small></p>
                <p class="fw-light"><%= monument.theme %></p>
                <p class="fw-semibold">£<%= number_with_delimiter(monument.price_per_night) %> per night</p>
                <%= button_to "More info", monument, method: :get, class:"btn btn-primary stretched-link small-btn" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div class="border rounded" style="width: 100%; height: 100%;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
