<div class="container cont-new">
  <div class="container">
    <%= simple_form_for @monument do |f| %>
    <%= f.input :name, as: :string %>
    <%= f.input :address, input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"}, wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
    <%= f.input :price_per_night, as: :integer %>
    <%= f.input :capacity, as: :integer %>
    <%= f.input :description, as: :text %>
    <%= f.input :utilities, as: :string %>
    <%= f.input :theme, as: :string %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class:"btn d-grid gap-2 yellow-btn btn-outline-warning" %>
    <% end %>

    <div class="center-btn d-grid gap-2">
      <%= button_to "Back", dashboard_path, method: :get, class:"btn btn-outline-warning yellow-btn"%>
    </div>
  </div>
</div>
