<div class="container pt-3 pb-3">
  <div class="row mb-3">
    <div class="d-flex">
      <div class="p-2 w-50"><%= cl_image_tag @monument.photo.key, crop: :fill %></div>
    </div>
  </div>
  <div class="row gx-5">
    <div class="border rounded shadow-sm pt-3 pb-3 col-8">
      <div class="pb-2 mb-2 border-bottom">
      <h2><%= @monument.name %></h2>
      <p class="card-text"><small class="text-muted"><i class="fa-solid fa-map-pin"></i>    <i><%= @monument.address %> - <%= @monument.country %></i></small></p>
      <p class="card-text"><small class="text-muted"><i class="fa-solid fa-people-group"></i>    <%= @monument.capacity %></small></p>
      </div>
      <div class="pb-2 mb-2 border-bottom">
      <p class="fw-light"><%= @monument.description %></p>
      </div>
      <div class="pb-2 mb-5 border-bottom">
      <p class="fw-light"><strong><i class="fa-solid fa-list-ul"></i>    Utilities: </strong><%= @monument.utilities %></p>
      </div>
      <%= button_to "Back to list", monuments_path(@monuments), method: :get, class:"btn btn-primary" %>
    </div>
    <div class="border rounded shadow-sm pt-3 pb-3 col-4">
      <div class="d-flex justify-content-between">
        <h3><strong><%= @monument.price_per_night %></strong>£/night</h3>
        <p><i class="fa-solid fa-star-half-stroke"></i>  <%= @monument.rating %></p>
      </div>
      <%= simple_form_for([@monument, @booking]) do |f|  %>
        <%= f.input :arrival_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
        <%= f.input :departure_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
        <%= f.input :user_request, placeholder: "Any special request so we can set up the best party of your life?" %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
