<div class="container pt-3 pb-3">
  <div class="row">
    <div class="d-flex">
      <div class="p-2 w-50"><%= cl_image_tag @monument.photo.key, crop: :fill %></div>
    </div>
    <div class="border rounded shadow-sm">
      <h2><%= @monument.name %></h2>
      <p class="card-text"><small class="text-muted"><i><%= @monument.address %> - <%= @monument.city %> - <%= @monument.country %></i></small></p>
      <p class="card-text"><small class="text-muted">Rating: <%= @monument.rating %>    Capacity: <%= @monument.capacity %></small></p>
      <p class="fw-light"><%= @monument.description %></p>
      <p class="fw-light"><strong>Utilities: </strong><%= @monument.utilities %></p>
    </div>
    <p><%= link_to "Back", monuments_path(@monuments) %></p>
  </div>
</div>
