<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active m-2" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings" type="button" role="tab" aria-controls="bookings" aria-selected="true">My bookings</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link m-2" id="monuments-tab" data-bs-toggle="tab" data-bs-target="#monuments" type="button" role="tab" aria-controls="monuments" aria-selected="false">My monuments</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link m-2" id="owner-tab" data-bs-toggle="tab" data-bs-target="#owner" type="button" role="tab" aria-controls="owner" aria-selected="false">My monuments' bookings</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="bookings" role="tabpanel" aria-labelledby="home-tab">
      <%# Div des bookings %>
      <h2 class="p-2"> Get ready for the party of your lifetime. </h2>
      <div class="my-bookings">
      <% @bookings.each do |booking| %>
        <div class="card m-3">
          <div class="card-body">
            <h5 class="card-title"> <%= "You're all set! Going to #{booking.monument.name}, from #{booking.arrival_date} to #{booking.departure_date}" %> </h5>
            <p> <i class="fa-solid fa-users"></i> Staying with <%= booking.number_of_guests %> guests</p>
            <p> <i class="fa-solid fa-money-bill"></i> Total price: £<%= booking.price %> </p>
            <p> Your special request:</p>
            <p class="card-text alert alert-warning mt-4"> <%= booking.user_request %></p>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="tab-pane fade cont-onglets" id="monuments" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row row-cols-1 row-cols-md-3 g-4 pt-3">
        <% @owner_monuments.each do |monument| %>
          <div class="col">
            <div class="card h-100 shadow-sm" type="button">
              <div class="row-cols-md-1"><%= cl_image_tag monument.photo.key, :class => "monu-image", :transformation => { height: 300, crop: :pad } %></div>
              <div class="card-body">
                <h5 class="card-title"><%= monument.name %></h5>
                <p class="card-text"><small class="text-muted"><i><%= monument.city %>, <%= monument.country %></i></small></p>
                <p class="fw-light"><%= monument.theme %></p>
                <p class="fw-semibold"><%= monument.price_per_night %>£/night</p>
                <%= button_to "More info", monument, method: :get, class:"btn btn-primary stretched-link" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
        <div class="center-btn d-grid gap-2">
          <%= button_to new_monument_path, method: :get, class:"btn btn-outline-warning yellow-btn" do %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
        </div>
    </div>
    <div class="tab-pane fade" id="owner" role="tabpanel" aria-labelledby="owner-tab">
      <h2 class="p-2"> <%= current_user.first_name %>, you have some parties soon happening in your monuments! </h2>
      <div class="my-bookings">
      <% @owner_bookings.each do |booking| %>
        <div class="card m-3">
          <div class="card-body">
            <h5 class="card-title"> <%= "#{booking.monument.name} -  £#{number_with_delimiter(booking.price)} - #{booking.number_of_guests} total guests staying a total of #{booking.days} nights, from #{booking.arrival_date} to #{booking.departure_date}" %> </h5>
            <p> User special request:</p>
            <p class="card-text alert alert-warning mt-4"> <%= booking.user_request %></p>
            <a href="#" class="btn btn-success">Accept</a>
            <a href="#" class="btn btn-danger">Decline</a>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
     <div class="cards-bookings">
        <% @bookings.each do |booking| %>
        <div class= "card-body">
          <li class="card-title"><strong><%= booking.user.email %></strong> booked <%= booking.monument.name %> from <strong><%= booking.arrival_date %></strong> to <strong><%= booking.departure_date %></strong>.</li>
          <li class="card-text d-flex"><%= button_to '✔', accept_booking_path(booking), class: "text-success",  method: :patch%> - <%= button_to '❌', decline_booking_path(booking), class:"text-danger", method: :patch%>. Status: <strong></strong><%= booking.booking_status %></strong></li>
        </div>
        <% end %>
      </div>
</div>
